.addCardButton {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    font-size: 18px;
    padding: 32px;
    cursor: pointer;
    color: white;
    margin: 16px 0;
}

.addCardButton:hover{
    color: #95FFD4;
}