footer {
    background-color: #6278F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 0;
}

ul {
    display: flex;
    gap: 35px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
